* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

nav {
  padding: 10px 120px;
  height: 9vh;
  border-bottom: solid;
  border-bottom-color: #d8d8d8;
  border-bottom-width: 0.0625rem;
  z-index: 999;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-img img {
  width: 30%;
}
.lang-switch img {
  height: 20px;
  margin-right: 5px;
}
nav a {
  text-decoration: none;
  color: #000000;
}

.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-section {
  height: 100vh;
  padding: 20px 60px;
  width: 60%;
  align-items: center;
}

.text-logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.text-logo p {
  font-size: 1.2rem;
  font-weight: 500;
}
.text-logo img {
  height: 25px;
}
span {
  font-weight: 200;
}
.right-section {
  background-color: rgb(243, 243, 243);
  width: 40%;
  height: 100vh;
  padding: 60px;
}
.back {
  margin-bottom: 40px;
}

.back a {
  text-decoration: none;
  color: #9d57d6;
  font-size: 20px;
  margin-bottom: 1rem;
}
.back a img {
  height: 30px;
  padding-top: 15px;
}

.payment-form h2 {
  margin-bottom: 10px;
}

.payment-form form {
  display: flex;
  flex-direction: column;
}

.payment-form label {
  margin-bottom: 10px;
  font-weight: 600;
}

.payment-form input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.expiry-security {
  display: flex;
  justify-content: space-between;
}

.payment-form button {
  padding: 15px;
  background-color: whitesmoke;
  color: rgb(124, 124, 124);
  border: none;
  width: 45%;
  left: 12px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.button {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px;
}
.brand-name {
  margin-top: 50px;
  display: flex;
  justify-content: right;
}
.logo-and-language {
  justify-content: flex-end;
}
.logo-p {
  font-size: 20px;
}
.logo-img img {
  width: 140px;
}

.order-summary h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.order-summary p {
  margin-top: 10px;
  font-size: 15px;
  margin-bottom: 50px;
}
.order-summary hr {
  width: 60%;
}

.total-value p {
  font-size: 20px;
  font-size: 600;
  margin-top: 15px;
}
